html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-block-size: 100vh;
    min-block-size: 100dvh;
    margin: 0;
    display: grid;
    place-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #0C1844;
    color: #FFF5E1;
}

h1 {
    text-align: center;
}

ul {
    max-inline-size: 50%;
    margin: 2.5em auto;
    line-height: 2;
}

button {
    display: block;
    margin-inline: auto;
    padding: .6em 1.5rem;
    font-family: inherit;
    font-size: 1rem;
    background-color: #C80036;
    color: #FFF5E1;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s ease-in;
}

button:hover {
    transform: scale(1.05);
    background-color: #FF6969;
}